PMS_API_BASE=https://api.koenig-solutions.com
PMS_USERNAME=
PMS_PASSWORD=
PMS_ROLE=
PMS_API_KEY=

APPRAISAL_API_BASE=https://api.koenig-solutions.com
APPRAISAL_USERNAME=
APPRAISAL_PASSWORD=
APPRAISAL_ROLE=
APPRAISAL_API_KEY=

KITES_DECRYPT_PASSWORD=
KITES_DECRYPT_SALT=

LOAN_API_BASE=https://api.koenig-solutions.com
LOAN_USERNAME=
LOAN_PASSWORD=
LOAN_ROLE=
LOAN_API_KEY=

MEAL_API_BASE=https://api.koenig-solutions.com
MEAL_USERNAME=
MEAL_PASSWORD=
MEAL_ROLE=
MEAL_API_KEY=

RECOVERY_API_BASE=https://api.koenig-solutions.com
RECOVERY_USERNAME=
RECOVERY_PASSWORD=
RECOVERY_ROLE=
RECOVERY_API_KEY=

TDS_API_BASE=https://api.koenig-solutions.com
TDS_USERNAME=
TDS_PASSWORD=
TDS_ROLE=
TDS_API_KEY=

LEAVE_API_BASE=https://api.koenig-solutions.com
LEAVE_USERNAME=
LEAVE_PASSWORD=
LEAVE_ROLE=
LEAVE_API_KEY=

ARREAR_API_BASE=https://api.koenig-solutions.com
ARREAR_USERNAME=
ARREAR_PASSWORD=
ARREAR_ROLE=
ARREAR_API_KEY=
